<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="calcu" class="com.javasoft.Calc"></bean>
	<bean id="mc" class="com.javasoft.MyCalculator">
		<property name="calc" ref="calcu"/>
		<property name="first" value="7"/>
		<property name="second" value="8"/>
		
	</bean>
</beans>
